<%-include('./cabecalho')-%>

<!-- BREADCRUMB -->
<div id="breadcrumb" class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ul class="breadcrumb-tree">
          <li><a href="/home">Home</a></li>
          <li><a href="#"><%=produto.categoria.titulo%></a></li>
          <li class="active"><%=produto.titulo%></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- /BREADCRUMB -->

<!-- SECTION -->
<div class="section">
  <div class="container">
    <div class="row">
      <!-- Product main img -->
      <div class="col-md-7 col-md-push-1">
        <div id="product-main-img">
          <div class="product-preview">
            <img src="/fotos/<%= produto.foto %>" alt="" class="product-image" />
          </div>
        </div>
      </div>
      <!-- /Product main img -->

   <!-- Product details -->
<div class="col-md-5">
  <div class="product-details">
      <h2 class="product-name"><%= produto.titulo %></h2>
      <div>
          <div class="product-rating">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
          </div>
      </div>
      <div>
          <h3 class="product-price">R$ <%= produto.preco %>,00<del class="product-old-price"><%= produto.precoantigo %>,00</del></h3>
          <span class="product-available">em estoque</span>
      </div>
      <form action="/carrinho/add" method="POST" class="add-to-cart">
          <div class="qty-label">
              qtd
              <div class="input-number">
                  <input type="number" name="quantidade" value="1" min="1" />
                  <span class="qty-up">+</span>
                  <span class="qty-down">-</span>
              </div>
          </div>
          <input type="hidden" name="produto_id" value="<%= produto._id %>" />
          <button type="submit" class="add-to-cart-btn">
              <i class="fa fa-shopping-cart"></i> COMPRAR AGORA
          </button>
      </form>
      <ul class="product-links">
          <li>Categoria:</li>
          <li><a href="/categoria/660c62f69c121a0aaaf1640e/produtos#"><%= produto.categoria.titulo %></a></li>
      </ul>
      <ul class="product-links">
          <li>Share:</li>
          <li>
              <a href="#"><i class="fa fa-facebook"></i></a>
          </li>
          <li>
              <a href="#"><i class="fa fa-twitter"></i></a>
          </li>
          <li>
              <a href="#"><i class="fa fa-google-plus"></i></a>
          </li>
          <li>
              <a href="#"><i class="fa fa-envelope"></i></a>
          </li>
      </ul>
  </div>
</div>
<!-- /Product details -->



      <!-- Product tab -->
      <div class="col-md-12">
        <div id="product-tab">
          <ul class="tab-nav">
            <li class="active">
              <a data-toggle="tab" href="#tab1">Descrição</a>
            </li>
            <li><a data-toggle="tab" href="#tab3">Avaliações (3)</a></li>
          </ul>
          <div class="tab-content">
            <div id="tab1" class="tab-pane fade in active">
              <div class="row">
                <div class="col-md-12">
                  <p>
                    <%=produto.descricao%>
                  </p>
                </div>
              </div>
            </div>
            <div id="tab2" class="tab-pane fade in">
              <div class="row">
                <div class="col-md-12">
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                    ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    Duis aute irure dolor in reprehenderit in voluptate velit
                    esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
                    occaecat cupidatat non proident, sunt in culpa qui officia
                    deserunt mollit anim id est laborum.
                  </p>
                </div>
              </div>
            </div>
            <div id="tab3" class="tab-pane fade in">
              <div class="row">
                <div class="col-md-6">
                  <div id="reviews">
                    <ul class="reviews">
                      <li>
                        <div class="review-heading">
                          <h5 class="name">Rafael</h5>
                          <div class="review-rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                          </div>
                        </div>
                        <div class="review-body">
                          <p>Slk que baita compra que eu fiz. Farei novamente!</p>
                        </div>
                      </li>
                      <li>
                        <div class="review-heading">
                          <h5 class="name">Estela</h5>
                          <div class="review-rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-o empty"></i>
                          </div>
                        </div>
                        <div class="review-body">
                          <p>Exelente produto!!</p>
                        </div>
                      </li>
                      <li>
                        <div class="review-heading">
                          <h5 class="name">Carla</h5>
                          <div class="review-rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-o empty"></i>
                          </div>
                        </div>
                        <div class="review-body">
                          <p>Entrega muito rapida!</p>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="col-md-3">
                  <div id="review-form">
                    <form class="review-form">
                      <input class="input" type="text" placeholder="Seu Nome" />
                      <input class="input" type="email" placeholder="Seu Email" />
                      <textarea class="input" placeholder="Sua Avaliação"></textarea>
                      <div class="input-rating">
                        <span>Sua Nota: </span>
                        <div class="stars">
                          <input id="star5" name="rating" value="5" type="radio" /><label for="star5"></label>
                          <input id="star4" name="rating" value="4" type="radio" /><label for="star4"></label>
                          <input id="star3" name="rating" value="3" type="radio" /><label for="star3"></label>
                          <input id="star2" name="rating" value="2" type="radio" /><label for="star2"></label>
                          <input id="star1" name="rating" value="1" type="radio" /><label for="star1"></label>
                        </div>
                      </div>
                      <button class="primary-btn">Avaliar</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /Product tab -->
    </div>
  </div>
</div>
<!-- /SECTION -->

<%-include('./rodape2')-%>
