<%-include('../tela01')-%>
<div class="container">
    <div class="row">
        <div class="col">
            <div class="jumbotron jumbotron-fluid" style="background-color: #1E3B8C; color: white;">
                <div class="container">
                    <h1 class="display-4">Editar Produto</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <form method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="titulo" style="color: #1E3B8C;">Título:</label>
                    <input type="text" class="form-control" name="titulo" id="titulo" value="<%= Produto.titulo %>">
                </div>
                <div class="form-group">
                    <label for="descricao" style="color: #1E3B8C;">Descrição:</label>
                    <input type="text" class="form-control" name="descricao" id="descricao" value="<%= Produto.descricao %>">
                </div>
                <div class="form-group">
                    <label for="foto" style="color: #1E3B8C;">Foto:</label>
                    <input type="file" class="form-control-file" name="foto" id="foto">
                </div>
                <div class="form-group">
                    <label for="preco" style="color: #1E3B8C;">Preço:</label>
                    <input type="number" class="form-control" name="preco" id="preco" value="<%= Produto.preco %>">
                </div>
                <div class="form-group">
                    <label for="precoantigo" style="color: #1E3B8C;">Preço Antigo:</label>
                    <input type="number" class="form-control" name="precoantigo" id="precoantigo" value="<%= Produto.precoantigo %>">
                </div>
                <button type="submit" class="btn btn-primary">Editar</button>
            </form>
        </div>
    </div>
</div>
<%-include('../rodape')-%>
